/****************************************************************/
/* 1. BACKGROUND AND TEXT COLOURS */
/****************************************************************/

/* 1.1 Default background colour and text colour */

BODY {
  background-color: #ce2424;
  margin-left: 140px;
  background-image: url(https://spoon.christippett.devimages/forums/pagebg.gif);
  background-repeat: repeat-y;
}
img {
  border: 0px;
}
.fieldset {
  margin: 15px 10px 15px 10px;
}
.pun {
  color: #333;
}
/* sub-background */
DIV.box DIV.inbox,
DIV.box DIV.inform,
DIV.box form,
DIV.blockform DIV.box,
#profile DIV.box,
#adminconsole FIELDSET TH {
  background-color: #fbfbfb;
}
.pun BLOCKQUOTE,
DIV.codebox,
.rowodd,
.roweven {
  background-color: #fce2c8;
}
#adminconsole TD,
#adminconsole TH {
  border-color: #f1f1f1;
}

/* 1. 2 Darker background colours */

TD.tc2,
TD.tc3,
TD.tcmod,
#postpreview,
#viewprofile DD,
DIV.forminfo,
#adminconsole FIELDSET TD,
DIV.blockmenu DIV.box,
#adstats DD {
  background-color: #fbfbfb;
}

/* 1.3 Main headers and navigation bar background and text colour */
H2 {
  color: #000000;
  background-image: url(https://spoon.christippett.devimages/forums/barbg.gif);
  background-repeat: repeat-x;
  background-position: top;
  font-weight: bold;
  margin-bottom: 5px;
}
.pun H2 {
  border: 1px solid #333333;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  margin-bottom: 5px;
}
#profile DIV.blockmenu H2,
#news DIV.blockmenu H2,
#adminmenu H2,
#punredirect H2,
#punmaint H2 {
  border: 1px solid #333333;
  margin-bottom: 5px;
  font-weight: bold;
}
/* nav bar */
#brdmenu {
  background-image: url(https://spoon.christippett.devimages/forums/navbg.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
  margin: -2px 0px 0px 0px;
}

/* 1.4 Table header rows */

.pun TH,
.bgc4 {
  background-image: url(https://spoon.christippett.devimages/forums/barbg.gif);
  background-repeat: repeat-x;
  background-position: top;
  border: 0px;
}
.inform TH {
  background-image: none;
  border: 0px;
}
/* 1.5 Fieldset legend text colour */

.pun LEGEND {
  color: #5c5c5c;
}

/* 1.6 Highlighted text for various items */

.pun DIV.blockmenu LI.isactive A,
#posterror LI STRONG {
  color: #5c5c5c;
}

/****************************************************************/
/* 2. POST BACKGROUNDS AND TEXT */
/****************************************************************/

/* 2.1 This is the setup for posts. */

DIV.blockpost DIV.box,
DIV.postright,
DIV.postfootright {
  background-color: #fbfbfb;
}
DIV.postright,
DIV.postfootright {
  border-left-color: #f1f1f1;
}
/* DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #F1F1F1} */

/* 2.2 Background for post headers and text colour for post numbers in viewtopic */

DIV.blockpost H2 {
  background-color: #333333;
}
DIV.blockpost H2 SPAN.conr {
  color: #333333;
}

/* 2.3 This is the line above the signature in posts. Colour and background should be the same */

.pun HR {
  background-color: #333333;
  color: #333333;
}

/****************************************************************/
/* 3. BORDER COLOURS */
/****************************************************************/

/* 3.1 All external borders */

DIV.box {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 0px;
  border-right: 0px;
}
#adminmenu DIV.box,
#punmaint DIV.box {
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}
/* 3.2 Makes the top border of posts match the colour used for post headers */

DIV.blockpost DIV.box {
  border-bottom: 1px solid #333333;
}

/* 3.3 Table internal borders. By default TH is same as background so border is invisible */

.pun TD {
  border-color: #333333;
}
#invoice TD {
  border-color: #f0f0f0;
}
.pun TH {
  border-color: #d1d1d1;
}

/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */

.pun BLOCKQUOTE,
DIV.codebox,
DIV.forminfo,
DIV.blockpost LABEL {
  border-color: #aca899 #fff #fff #aca899;
}

/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */

.pun DIV > FIELDSET {
  border-color: #aca899;
}

/****************************************************************/
/* 4. LINK COLOURS */
/****************************************************************/

/* 4.1 This is the default for all links */

.pun A:link,
.pun A:visited {
  color: #1c5e9f;
}
.pun A:hover {
  color: #4a87c4;
}

/* 4.2 This is the colour for links in header rows and the navigation bar */

.pun H2 A:link,
.pun H2 A:visited,
#brdmenu A:link,
#brdmenu A:visited {
  color: #fff;
}
.pun H2 A:hover,
#brdmenu A:hover {
  color: #fff;
}

/* 4.3 This is for closed topics and "hot" links */

LI.postreport A:link,
LI.postreport A:visited,
TR.iclosed TD.tcl A:link,
TR.iclosed TD.tcl A:visited {
  color: #888;
}
LI.postreport A:hover,
TR.iclosed TD.tcl A:hover {
  color: #aaa;
}
LI.maintenancelink A:link,
LI.maintenancelink A:visited {
  color: #b42000;
}
LI.maintenancelink A:hover {
  color: #b42000;
}

/****************************************************************/
/* 5. POST STATUS INDICATORS */
/****************************************************************/

/* These are the post status indicators which appear at the left of some tables.
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. The default is "icon". By default only .inew is different.*/

DIV.icon {
  border-color: #e6e6e6 #dedede #dadada #e2e2e2;
}
TR.iredirect DIV.icon {
  border-color: #f1f1f1 #f1f1f1 #f1f1f1 #f1f1f1;
}
DIV.inew {
  border-color: #8bb453 #7a9e48 #709142 #799c47;
}

/****************************************************************/
/* 5. ALTERNATE POSITIONS FOR ELEMENTS */
/****************************************************************/
#profile DIV.blockmenu,
#news DIV.blockmenu {
  position: absolute;
  left: 10px;
}
DIV.postleft .username {
  float: left;
  font-weight: bold;
}
DIV.postleft .usertitle {
  float: right;
  font-weight: bold;
}
DIV.postedby .posted {
  float: left;
}
DIV.postedby .comments {
  float: right;
}
#plans {
  position: absolute;
  top: 120px;
  left: 610px;
  width: 150px;
  height: 316px;
}
.plans A:link,
.plans A:visited {
  color: #fce2c8;
}
#plans A {
  text-decoration: underline;
}
#plans span.plans {
  background-image: url(https://spoon.christippett.devimages/point.gif);
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 14px;
  font-size: 11px;
  color: #fce2c8;
  font-family: Arial, Helvetica, sans-serif;
}
#plans DIV.price {
  position: absolute;
  padding-top: 5px;
  left: 45px;
  height: 35px;
}
#plans #plan2,
#plans #plan3 {
  margin-top: 50px;
}
